img{
	vertical-align: top;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

ul{
	padding:0;
	margin:0;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.box_top{
	width:163px;
	border-top:3px solid #addf7e;
}
.color1 .box_top{
	border-color: #e187c4;
}
.color2 .box_top{
	border-color: #a6a6a6;
}
.color3 .box_top{
	border-color: #80bdd9;
}
.color4 .box_top{
	border-color: #e18786;
}
.color5 .box_top{
	color: #e4cd6f;
}
.color1 .title{
	color: #e187c4;
}
.color2 .title{
	color: #a6a6a6;
}
.color3 .title{
	color: #80bdd9;
}
.color4 .title{
	color: #e18786;
}
.color5 .title{
	color: #e4cd6f;
}
.box{
	width:140px;
	height:409px;
	border:1px solid #dddddd;
	border-top:none;
	padding:0 11px 11px 10px;
}
.title{
	font:15px/39px "微软雅黑";
	color:#7da856;
	padding-top:2px;
	text-align:center;
}
.content_box{
	width:138px;
	height:98px;
	border:1px solid #dedee0;
}
.content_box img{
	padding:1px 1px;
}
.pics_info{
	font:13px/23px "微软雅黑";
	color:#3d3d3d;
	padding-bottom:7px;
}
.pics_info img{
	float:right;
    padding-top:8px;
}
.pics_info .dotted{
	border-bottom:1px dotted #dbdbdb;
	padding-top:5px;
	padding-bottom:12px;
}
.end{
	height:88px;
}
.end .details1{
	font:13px/22px "微软雅黑";	
}
.end .top{
	padding-top:5px;
}
.end .details2{
	font:11px/19px "微软雅黑";
	color:#acacac;	
}
span{
	color:#b7b7b7 !important;
}
.margin{
    margin-left:-1px;
}

