body{
	padding:0;
	margin:0;
}
.fl{
	float:left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
img{
	vertical-align: top;
}
input{
	outline: none;
	padding: 0;
	margin: 0;
}
.up{
	margin-top:61px;
}
.width1{
	width:642px;
	margin: 0 auto;
}
.width2{
	width:462px;
	margin: 0 auto !important;
}
.header {
	margin-bottom:48px;
}
.header .Left{
	width:320px;
	font:17px/44px "微软雅黑";
	color:#eef5ff;
	text-align: center;
	border:1px solid #5fa1f8;
	border-right:none;
	background-color: #66a8ff;
}
.header .Right{
	width:320px;
	font:17px/44px "微软雅黑";
	color:#66a8ff;
	text-align: center;
	border:1px solid #5fa1f8;
	border-left:none;
	background-color: #ffffff;
}
.item .rice{
	width:97px;
	line-height:34px;
    text-indent: 69px;
   
}
.middle {
	border:1px solid #d5060d;
	height:32px;
	width:482px;
	line-height: 32px;
}
.Fline .user{
	width:39px;
	margin-top:5px;
	margin-left:11px;
	
}
.Fline .input_box{
	width:310px;
	border:0;
	height:24px;
	font:12px/24px "微软雅黑";
	color:#dde0e6;
	border-left:1px solid #d8dbe2;
	margin-top:5px;
	margin-bottom:3px;
	text-indent:10px;
	
}
.Fline .com {
	width:131px;
	background-color: #f7f7f7;
}
.Fline .com span{
	font:12px/32px "微软雅黑";
	color:#626262;
	
	border-left:1px solid #d8dbe2;
}
.Fline .com img{
	margin-top:13px;
	margin-right:10px;
}
.Fline .passTh{
	margin-top:9px;
	margin-left:11px;
}
.item .warning{
	margin-left:126px;
	font:11px/30px "微软雅黑";
	color:#e3667d;
}
.item .warning img{
	margin:8px 0;
}
.middle1{
	border:1px solid #d8dbe2;
}
.inb{
	width:440px !important;
}
.sex{
	height:21px;
	padding-left:21px;
	padding-bottom:31px;
}
.sex input{
	font:19px/21px "微软雅黑";
	
}
.sex span{
	font:12px/21px "微软雅黑";
	color:#ababab;
	padding-left:11px;
}
.sex .nv{
	margin-left:98px;
}
.agree .Finput{
	margin-left: 24px;
	margin-right: 56px;
}
.agree{

	height:17px;
	padding-top:31px;
	padding-bottom: 21px;
	border-bottom:1px dotted #cfcfcf;
}
.agree .read{
	font:12px/17px "微软雅黑";
	color:#ababab;
}
 .agree .blue{
 	color:#889fde;
 }
.time{
	width:80px;
	font:12px/34px "微软雅黑";
	color:#666666;
	margin-left:67px;
}
.tm{
	margin-top: 40px;
}
.tm .input{
	width:131px;
	border:1px solid #d8dbe2;
	height: 34px;
}
.tm .year{
	font:12px/32px "宋体";
	color:#d8dbe2 ;
}
.pay .zhifubao{
	width:142px;
	height:34px;
	border:1px solid #5976e3;
}
.pay{
	margin-top:29px;
}
 .zhifubao img{
 	margin-top:7px;
 	margin-left:36px;
 }
.zhifubao .zpay{
	font:12px/34px "宋体";
	color:#626262;
	padding-left:11px;
}
.L{
	margin-left:-1px;
}
.time1{
	width:420px;
}
