.container_bg {
  background-color: #f5f5f5;
  height: 53px;
  border-bottom: 1px solid #dddddd;
}
.container_bg .address .row .box {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px/50px "宋体";
  color: #555555;
  font-size: 0;
}
.container_bg .address .row .box .left {
  display: flex;
  margin-top: 3px;
  font: 14px/50px "宋体";
  color: #555555;
  margin-right: 15px;
  margin-left: 13px;
}
.container_bg .address .row .box .left img {
  margin-top: 17px;
  margin-right: 5px;
}
.container_bg .address .row .box .line {
  width: 1px;
  height: 13px;
  background-color: #d3ccd3;
  display: block;
}
.info {
  background-color: #fff;
}
.info .boot {
  margin-top: 55px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
.info .boot h3 {
  text-align: center;
  font: 43px/57px "微软雅黑";
  color: #333333;
}
.info .boot .item {
  text-align: center;
  font: 14px/28px "微软雅黑";
  color: #333333;
}
.list_box {
  padding-bottom: 70px;
  border-bottom: 1px solid #e5e5e5;
}
.list_box .list {
  margin-top: 40px;
}
.list_box .list .thumbnail {
  width: 263px;
  margin: 0 auto 30px;
}
.list_box .list .thumbnail .word {
  text-align: center;
  height: 180px;
}
.list_box .list .thumbnail .word h3 {
  font: 23px/33px "微软雅黑";
  color: #6c8ebd;
  margin-top: 24px;
}
.list_box .list .thumbnail .word h5 {
  font: 15px/25px "微软雅黑";
  color: #777777;
}
.list_box .list .thumbnail .word p {
  font: 14px/20px "微软雅黑";
  color: #555555;
  padding-top: 9px;
}
.last_bg {
  background-color: #fff;
}
.last_bg .last {
  height: 170px;
  margin-top: 40px;
}
.last_bg .last .left .we {
  font: 14px/42px "宋体";
  color: #777777;
}
.last_bg .last .item h3 {
  font: 15px/17px "微软雅黑";
  color: #563d7c;
  margin-bottom: 10px;
}
.last_bg .last .item li {
  font: 14px/20px "宋体";
  color: #777777;
}
.last_bg .end {
  text-align: center;
  font-size: 0;
  font: 12px/58px "微软雅黑";
  color: #777;
  border-top: 1px solid #eeeeee;
}
.last_bg .end span {
  padding: 0 12px;
}
.last_bg .end .span {
  border-right: 1px solid #f00;
}
