.sprite{background:url(../images/img.png)  no-repeat;}
.mon_03{height:9px;width:7px;background-position:0 0;}
.mon1_03{height:9px;width:7px;background-position:-7px 0;}
.p_05{height:13px;width:7px;background-position:-14px 0;}
.j_07{height:9px;width:7px;background-position:-21px 0;}
.p_03{height:13px;width:8px;background-position:-28px 0;}
.jing_06{height:5px;width:10px;background-position:-36px 0;}
.jing_03{height:16px;width:11px;background-position:-46px 0;}
.tubiaojpg_17{height:20px;width:20px;background-position:-57px 0;}
.tubiaojpg_16{height:20px;width:20px;background-position:-77px 0;}
.tubiaojpg_09{height:20px;width:20px;background-position:-97px 0;}
.tubiaojpg_15{height:20px;width:20px;background-position:-117px 0;}
.tubiaojpg_25{height:20px;width:20px;background-position:-137px 0;}
.tubiaojpg_24{height:20px;width:20px;background-position:-157px 0;}
.tubiaojpg_18{height:20px;width:20px;background-position:-177px 0;}
.tubiaojpg_23{height:20px;width:20px;background-position:-197px 0;}
.tubiaojpg_07{height:20px;width:20px;background-position:-217px 0;}
.ji_11{height:20px;width:20px;background-position:-237px 0;}
.p_10{height:33px;width:20px;background-position:-257px 0;}
.ji_06{height:20px;width:20px;background-position:-277px 0;}
.ji_08{height:20px;width:20px;background-position:-297px 0;}
.tubiaojpg_05{height:20px;width:20px;background-position:-317px 0;}
.tubiaojpg_26{height:20px;width:20px;background-position:-337px 0;}
.tubiaojpg_03{height:20px;width:20px;background-position:-357px 0;}
.p_14{height:23px;width:23px;background-position:-377px 0;}
.p_18{height:25px;width:25px;background-position:-400px 0;}