.header-bg {
  background: linear-gradient(#d83d34, #e3453a);
}
.header-bg .header {
  width: 9.3519rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 1.2037rem;
}
.header-bg .header .return_box {
  display: flex;
  width: 2.6111rem;
  justify-content: space-between;
}
.header-bg .header .return_box .return {
  width: 0.6481rem;
  height: 0.6481rem;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: 0 0;
  margin-top: 0.2778rem;
}
.header-bg .header .return_box .day {
  font-size: 0.3796rem;
  line-height: 0.4537rem;
  color: #ffffff;
  font-family: 微软雅黑;
  margin-top: 0.3704rem;
}
.header-bg .header .problem {
  width: 0.6481rem;
  height: 0.6481rem;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -5.1852rem 0;
  margin-top: 0.2778rem;
}
.item {
  height: 4.213rem;
  position: relative;
}
.item img {
  height: 4.213rem;
  width: 100%;
}
.item .rili {
  width: 1.5463rem;
  height: 1.6019rem;
  background: url(../images/rili.png) no-repeat;
  background-size: 1.5463rem;
  position: absolute;
  bottom: 0.9352rem;
  left: 0.3889rem;
}
.item .taste {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0.2315rem;
}
.item .taste i {
  width: 0.6481rem;
  height: 0.6481rem;
  display: block;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -7.7778rem 0;
}
.item .taste span {
  font-size: 0.2315rem;
  line-height: 0.713rem;
  color: #b4b4b4;
  font-family: 微软雅黑;
}
.song_head {
  background-color: #fbfcfd;
  background-size: cover;
  height: 0.8982rem;
  border-bottom: 0.0185rem solid #eff0f1;
  margin-top: 0.2222rem;
  display: flex;
  width: 10rem;
  justify-content: space-between;
}
.song_head .song_headbox {
  display: flex;
  height: 0.6481rem;
  margin-left: 0.3241rem;
}
.song_head .song_headbox i {
  width: 0.6481rem;
  height: 0.6481rem;
  display: block;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -4.537rem 0;
  margin-right: 0.2778rem;
}
.song_head .song_headbox span {
  font-size: 0.3426rem;
  line-height: 0.6204rem;
  color: #323233;
  font-family: 微软雅黑;
}
.song_head .more_box {
  display: flex;
  margin-right: 0.2778rem;
}
.song_head .more_box i {
  width: 0.6481rem;
  height: 0.6481rem;
  display: block;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -7.1296rem 0;
}
.song_head .more_box span {
  font-size: 0.287rem;
  line-height: 0.6204rem;
  color: #323233;
  font-family: 微软雅黑;
}
.song_list {
  background-color: #fbfcfd;
}
.song_list .item {
  margin-top: 0.2222rem;
  display: flex;
  height: 1.2778rem;
}
.song_list .item img {
  width: 0.8333rem;
  height: 0.8333rem;
  margin-right: 0.1574rem;
  margin-left: 0.1204rem;
}
.song_list .item .info {
  display: flex;
  width: 9.0463rem;
  justify-content: space-between;
  border-bottom: 0.0185rem solid #eff0f1;
  height: 1.037rem;
}
.song_list .item .info .song_info {
  height: 0.963rem;
}
.song_list .item .info .song_info .song_name {
  font-size: 0.3148rem;
  line-height: 0.4259rem;
  color: #353536;
  font-family: 微软雅黑;
}
.song_list .item .info .song_info .songer {
  height: 0.537rem;
  font-size: 0;
}
.song_list .item .info .song_info .songer img {
  width: 0.3241rem;
  height: 0.213rem;
  margin-right: 0.0833rem;
}
.song_list .item .info .song_info .songer span {
  font-size: 0.2407rem;
  line-height: 0.537rem;
  color: #7e7e7f;
  font-family: 微软雅黑;
}
.song_list .item .info .right_bo {
  display: flex;
  padding-right: 0.2778rem;
}
.song_list .item .info .right_bo .first {
  width: 0.6481rem;
  height: 0.6481rem;
  display: block;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -6.4815rem 0;
  margin-right: 0.1667rem;
}
.song_list .item .info .right_bo .second {
  width: 0.6481rem;
  height: 0.6481rem;
  display: block;
  background: url("../images/img4.png") no-repeat;
  background-size: 8.4259rem;
  background-position: -5.8333rem 0;
}
.broadcast {
  position: fixed;
  background-color: #fff;
  border-top: 0.0093rem solid  #e6e6e6;
  bottom: 0;
  width: 10rem;
  left: 0;
  height: 1.1204rem;
  font-size: 0.2778rem;
}
.broadcast .broadcast_list {
  height: 2.7778rem;
  margin: 0.1204rem 0 0 0.1389rem;
}
.broadcast .broadcast_list .pic {
  height: 0.8519rem;
  margin-right: 16px;
}
.broadcast .broadcast_list .songer {
  font-size: 0.287rem;
  line-height: 0.4537rem;
  color: #333333;
}
.broadcast .broadcast_list .nex {
  font-size: 0.2315rem;
  line-height: 0.3796rem;
  color: #808080;
}
.broadcast .start {
  width: 1.5648rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.1296rem;
  margin-right: 0.3241rem;
}
.broadcast .start .y {
  width: 0.6111rem;
  height: 0.6111rem;
}
.broadcast .start .e {
  width: 0.463rem;
  height: 0.3981rem;
  margin-top: 0.1389rem;
}
