.img{background:url(../images/img.png)  no-repeat;background-size: 6.2037rem;}
.search{height:0.463rem;width:0.463rem;background-position:0 -0.1574rem;}
.menu{height:0.3519rem;width:0.4907rem;background-position:-0.6481rem -0.2037rem;}
.logo{height:0.5556rem;width:0.5rem;background-position:-1.4074rem -0.0463rem;}
.recommend{height:0.537rem;width:0.5185rem;background-position:-2.0741rem -0.037rem;}
.music_list{height:0.4907rem;width:0.5278rem;background-position:-2.6852rem -0.0556rem;}
.note{height:0.537rem;width:0.537rem;background-position:-3.3611rem -0.0278rem;}
.FM{height:0.5092rem;width:0.5463rem;background-position:-4.037rem -0.037rem;}
.TOP{height:0.5rem;width:0.5556rem;background-position:-4.7037rem -0.0092rem;}
.MV{height:0.5463rem;width:0.6111rem;background-position:-5.5926rem 0;}
