.img{background:url(../images/img.png)  no-repeat;background-size: 6.2037rem;}
.search{height:0.463rem;width:0.463rem;background-position:0 -0.1574rem;}
.menu{height:0.3519rem;width:0.4907rem;background-position:-0.6481rem -0.2037rem;}
.logo{height:0.5556rem;width:0.5rem;background-position:-1.4074rem -0.0463rem;}
.recommend{height:0.537rem;width:0.5185rem;background-position:-2.0741rem -0.037rem;}
.music_list{height:0.4907rem;width:0.5278rem;background-position:-2.6852rem -0.0556rem;}
.note{height:0.537rem;width:0.537rem;background-position:-3.3611rem -0.0278rem;}
.FM{height:0.5092rem;width:0.5463rem;background-position:-4.037rem -0.037rem;}
.TOP{height:0.5rem;width:0.5556rem;background-position:-4.7037rem -0.0092rem;}
.MV{height:0.5463rem;width:0.6111rem;background-position:-5.5926rem 0;}






.sprite{background:url(../images/sprite.png)  no-repeat;background-size:7.7037rem;}
._3music12{height:0.3519rem;width:0.0741rem;background-position:0 0;}
.next{height:0.3056rem;width:0.1852rem;background-position:-0.2685rem 0;}
._3music7{height:0.1389rem;width:0.2593rem;background-position:-0.6111rem 0;}
._3music9{height:0.2778rem;width:0.2778rem;background-position:-0.9722rem 0;}
._3music8{height:0.2778rem;width:0.2778rem;background-position:-1.3704rem 0;}
.未标题-11{height:0.3333rem;width:0.3889rem;background-position:-1.787rem 0;}
._3music10{height:0.3796rem;width:0.3981rem;background-position:-2.2778rem 0;}
._3music6{height:0.3981rem;width:0.463rem;background-position:-2.8704rem 0;}
._3music3{height:0.4907rem;width:0.4722rem;background-position:-3.5093rem 0;}
._3music{height:0.463rem;width:0.4722rem;background-position:-4.1759rem 0;}
._3music1{height:0.4722rem;width:0.4815rem;background-position:-4.8889rem 0;}
._3music4{height:0.4352rem;width:0.4815rem;background-position:-5.6389rem 0;}
._3music2{height:0.4444rem;width:0.5093rem;background-position:-6.3519rem 0;}
._3music5{height:0.6111rem;width:0.6111rem;background-position:-7.0926rem 0;}
