.bg {
    background-color: #363636;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #181818;
    .head {
      width: 940px;
      margin: 0 auto;
      height: 58px;
  
      img {
        padding-top: 15px;
      }
      .nav {
        font-size: 0;
        span {
          font-size: 10px;
          line-height: 58px;
          color: #ededed;
          padding-left: 24px;
          padding-right: 24px;
          border-left: 1px solid #181818;
          border-right: 1px solid #181818;
          display: inline-block;
          margin-left: -1px;
          &:hover {
            background-color: #ca3232;
          }
        }
      }
    }
  }
  .item1 {
    width: 940px;
    margin: 0 auto;
    background-color: #fbfbfb;
    div {
      font-size: 13px;
      line-height: 59px;
      color: #999999;
    }
  }
  .bg {
    .item2 {
      width: 940px;
      margin: 0 auto;
      text-align: center;
      .title {
        font-size: 36px;
        line-height: 74px;
        color: #fff;
        padding-top: 23px;
        span {
          color: #c93232;
        }
      }
      .content {
        font-size: 9px;
        line-height: 22px;
        color: #aaaaaa;
        padding-bottom: 40px;
      }
    }
  }
  .content{
      width:940px;
      margin:0 auto;
      padding-top:40px;
      ul{
          li{
              width:640px;
              background-color: #fff;
              .pic{
                  margin-right:20px;
              }
             .l{
                 width:400px;
                 h3{
                     font-size:15px;
                     line-height: 25px;
                     color:#cc3232;
                     padding-top:15px;
                     border-bottom: 1px solid #efefef;
                     border-right: 1px solid #efefef;
                    

                 }
                 .p{
                     font-size:11px;
                     line-height: 20px;
                     color：#444;
                 }

             } 
          }
      }
  }