.bg {
  background-color: #363636;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.bg .head {
  width: 940px;
  margin: 0 auto;
  height: 58px;
}
.bg .head img {
  padding-top: 15px;
}
.bg .head .nav {
  font-size: 0;
}
.bg .head .nav span {
  font-size: 10px;
  line-height: 58px;
  color: #ededed;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  display: inline-block;
  margin-left: -1px;
}
.bg .head .nav span:hover {
  background-color: #ca3232;
}
.item1 {
  width: 940px;
  margin: 0 auto;
  background-color: #fbfbfb;
}
.item1 div {
  font-size: 13px;
  line-height: 59px;
  color: #999999;
}
.bg .item2 {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.bg .item2 .title {
  font-size: 36px;
  line-height: 74px;
  color: #fff;
  padding-top: 23px;
}
.bg .item2 .title span {
  color: #c93232;
}
.bg .item2 .content {
  font-size: 9px;
  line-height: 22px;
  color: #aaaaaa;
  padding-bottom: 40px;
}
.content {
  width: 940px;
  margin: 0 auto;
  padding-top: 40px;
}
.content .uls {
  width: 640px;
}
.content .uls li {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  box-shadow: 1px 1px 1px #ededed;
  margin-bottom: 50px;
}
.content .uls li:before {
  content: "";
  width: 619px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -5px;
  right: 9px;
  box-shadow: 1px 1px 1px #f6f6f6;
}
.content .uls .pic {
  margin-right: 20px;
}
.content .uls .pic img {
  vertical-align: top;
}
.content .uls .l {
  width: 399px;
}
.content .uls .l h3 {
  font-size: 13px;
  line-height: 25px;
  color: #cc3232;
  padding-top: 15px;
  border-bottom: 1px solid #efefef;
  margin-left: 24px;
}
.content .uls .l .p {
  font-size: 9px;
  line-height: 20px;
  color: #444;
  padding-top: 16px;
}
.content .right {
  width: 270px;
}
.content .right .input {
  width: 265px;
  height: 35px;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  background-color: #fff;
  margin-bottom: 53px;
}
.content .right .input input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 11px;
  line-height: 35px;
  color: #737373;
  padding-left: 8px;
}
.content .right .t {
  font-size: 17px;
  line-height: 31px;
  color: #c93232;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 13px;
  width: 110px;
  margin-left: 159px;
}
.content .right .P {
  font-size: 11px;
  line-height: 20px;
  color: #444444;
  border-right: 1px solid #efefef;
}
.content .right .P:last-child {
  padding-bottom: 20px;
}
.content .right .L {
  font-size: 11px;
  line-height: 20px;
  color: #444444;
  border-right: 1px solid #efefef;
}
.content .right .L span {
  color: #c93232;
}
.content .right .L:last-child {
  padding-bottom: 19px;
  border-bottom: 1px solid #efefef;
}
.content .right .b {
  width: 134px;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  font-size: 17px;
  line-height: 27px;
  color: #c93232;
  padding-top: 17px;
  margin-top: 40px;
}
.content .right .d {
  padding-top: 8px;
  border-right: 1px solid #efefef;
}
.content .right .d:last-child {
  padding-bottom: 23px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 40px;
}
.content .right .d .pd {
  margin-left: 20px;
  font-size: 0;
}
.content .right .d .pd span {
  font-size: 11px;
  line-height: 28px;
  color: #444444;
  margin-left: 11px;
}
.content .right .endd {
  width: 270px;
}
.content .right .endd li {
  margin-right: 18px;
  margin-bottom: 18px;
}
.content .right .endd li:nth-of-type(2n) {
  margin-right: 0;
}
.person_info {
  margin-top: 19px;
}
.person_info .p_item {
  font-size: 12px;
  line-height: 14px;
  margin-right: 12px;
  color: #999999;
}
.person_info .p_item .sprite {
  margin-right: 5px;
}
.person_info .p_item .red {
  color: #c93232;
}
.Page {
  width: 640px;
}
.page {
  font-size: 0;
  padding-bottom: 59px;
}
.page span:nth-of-type(1) {
  font-size: 11px;
  line-height: 24px;
  color: #444444;
  margin-right: 14px;
  display: inline-block;
}
.page span:nth-of-type(2) {
  font-size: 9px;
  line-height: 22px;
  width: 25px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  margin-right: 6px;
}
.page span:nth-of-type(3) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
  margin-right: 6px;
}
.page span:nth-of-type(4) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
}
.sprite {
  background: url(images/img.png) no-repeat;
}
.contact_28 {
  height: 14px;
  width: 12px;
  background-position: 0 0;
}
.contact_30 {
  height: 14px;
  width: 12px;
  background-position: -12px 0;
}
.contact_24 {
  height: 14px;
  width: 13px;
  background-position: -24px 0;
}
.contact_26 {
  height: 14px;
  width: 13px;
  background-position: -37px 0;
}
.dot {
  line-height: 6px;
  margin-bottom: 28px;
  width: 640px;
}
.dot:before {
  content: "";
  width: 277px;
  height: 1px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  background-color: #f1f1f1;
  margin-right: 14px;
}
.dot:after {
  content: "";
  width: 277px;
  height: 1px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  background-color: #f1f1f1;
  margin-left: 14px;
}
.dot span {
  width: 5px;
  height: 5px;
  background-color: #e3e4e6;
  border-radius: 50%;
  display: inline-block;
  letter-spacing: 4px;
  vertical-align: top;
}
.page {
  font-size: 0;
  padding-bottom: 59px;
}
.page span:nth-of-type(1) {
  font-size: 11px;
  line-height: 24px;
  color: #444444;
  margin-right: 14px;
  display: inline-block;
}
.page span:nth-of-type(2) {
  font-size: 9px;
  line-height: 22px;
  width: 25px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  margin-right: 6px;
}
.page span:nth-of-type(3) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
  margin-right: 6px;
}
.page span:nth-of-type(4) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
}
.lastbg {
  background: linear-gradient(180deg, #292929, #383838);
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}
.lastbg .last {
  width: 941px;
  margin: 0 auto;
}
.lastbg .last .text {
  width: 215px;
  margin-right: 25px;
  height: 265px;
}
.lastbg .last .text h3 {
  font-size: 12px;
  line-height: 60px;
  color: #ffffff;
  padding-top: 20px;
}
.lastbg .last .text .pellent {
  font-size: 11px;
  line-height: 20px;
  color: #8e8e8e;
  margin-bottom: 21px;
}
.lastbg .last .cate {
  width: 240px;
}
.lastbg .last .cate h3 {
  font-size: 12px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 24px;
}
.lastbg .last .cate div {
  font-size: 11px;
  line-height: 28px;
  color: #ddddd1;
}
.lastbg .last .cate div img {
  vertical-align: middle;
  margin-right: 6px;
}
.get {
  width: 221px;
}
.get h3 {
  font-size: 12px;
  line-height: 62px;
  color: #fff;
  padding-top: 19px;
}
.get div {
  font-size: 11px;
  line-height: 20px;
  color: #8e8e8e;
}
.get div:nth-of-type(3) {
  color: #c92f2d;
  margin-bottom: 19px;
}
.end {
  background-color: #171717;
}
.end div {
  width: 941px;
  margin: 0 auto;
}
.end div div {
  font-size: 11px;
  line-height: 52px;
  color: #9dabab;
}
.imgs img {
  border-radius: 50%;
}
