.bg {
  background-color: #363636;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
  .head {
    width: 940px;
    margin: 0 auto;
    height: 58px;

    img {
      padding-top: 15px;
    }
    .nav {
      font-size: 0;
      span {
        font-size: 10px;
        line-height: 58px;
        color: #ededed;
        padding-left: 24px;
        padding-right: 24px;
        border-left: 1px solid #181818;
        border-right: 1px solid #181818;
        display: inline-block;
        margin-left: -1px;
        &:hover {
          background-color: #ca3232;
        }
      }
    }
  }
}
.item1 {
  width: 940px;
  margin: 0 auto;
  background-color: #fbfbfb;
  div {
    font-size: 13px;
    line-height: 59px;
    color: #999999;
  }
}
.bg {
  .item2 {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    .title {
      font-size: 36px;
      line-height: 74px;
      color: #fff;
      padding-top: 23px;
      span {
        color: #c93232;
      }
    }
    .content {
      font-size: 9px;
      line-height: 22px;
      color: #aaaaaa;
      padding-bottom: 40px;
    }
  }
}
.content {
  width: 940px;
  padding-top: 27px;
  margin: 0 auto;
  .info {
     

    .our {
      font-size: 16px;
      line-height: 44px;
      color: #333333;
    }
    .morbi {
      font-size: 9px;
      line-height: 37px;
      color: #333333;
      padding-bottom: 13px;
    }
    .html{
        padding-bottom: 47px;
        .pic{
            img{
                margin-right:20px;
                padding-top: 2px;
            }
          
        }
        .intro{
            width:324px;
              .h{
                font-size:10px;
                line-height: 10px;
                margin-bottom:16px;
                color:#c93232;
              }
              .p{
                  font-size:9px;
                  line-height: 20px;
                  color:#444444;
              }
        }
    }
  }
  .com{
    width:450px;
    padding-top:16px;
  }
}
.dot{
  width:940px;
  margin:0 auto;
  text-align: center;
  font-size:0;
  padding-top:21px;
  padding-bottom:21px;
  
  &:before {
    content: "";
    width: 426px;
    height: 1px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    background-color: #f1f1f1;
    margin-right: 14px;
  }
  &:after {
    content: "";
    width: 426px;
    height: 1px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    background-color: #f1f1f1;
    margin-left: 14px;
  }
 
     span{
       width:6px;
       height:6px;
       border-radius: 2px;
       background-color: #e3e4e6;
       display: inline-block;
       vertical-align: top;
       margin-right:4px;
     }
}
.word{
  width:940px;
  margin:0 auto;
  height:392px;
  h3{
    font-size:16px;
    line-height: 60px;
  }
  li{
    width:220px;
    border-right:1px solid #ededed;
    border-bottom: 1px solid #ededed;
    box-shadow: 1px 1px 1px #f6f6f6;
    position: relative;
    margin-right:18px;
    margin-bottom: 90px;
    .web{
      font-size:10px;
      line-height: 24px;
      color:#d33232;
      width:112px;
      border-bottom: 1px solid #ededed;
      margin-left:108px;
      padding-top:14px;
      margin-bottom: 10px;
    }
    .cont{
      font-size:9px;
      line-height: 20px;
      color:#444444;
      text-align: center;
      margin-bottom: 21px;
    }
    &:after {
      width: 213px;
      height: 2px;
      background: #fcfcfc;
      content: "";
      position: absolute;
      bottom: -5px;
      right: 2px;
      border-right: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      box-shadow: 1px 1px 1px #f6f6f6;
    }
    &:nth-of-type(4n) {
      margin-right:2px;
    }

  }
}
.lastbg {
  background: linear-gradient(180deg,#292929, #383838);
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  .last {
    width: 940px;
    margin: 0 auto;

    .text {
      width: 215px;
      margin-right: 25px;

      height: 265px;
      h3 {
        font-size: 12px;
        line-height: 60px;
        color: #ffffff;
        padding-top: 20px;
      }
      .pellent {
        font-size: 11px;
        line-height: 20px;
        color: #8e8e8e;
        margin-bottom: 21px;
      }
    }
    .cate {
      width: 240px;
      h3 {
        font-size: 12px;
        line-height: 52px;
        color: #ffffff;
        padding-top: 24px;
      }
      div {
        font-size: 11px;
        line-height: 28px;
        color: #ddddd1;
        img {
          vertical-align: middle;
          margin-right:6px;
        }
      }
    }
  }
}
.get {
  width: 220px;

  h3 {
    font-size: 12px;
    line-height: 62px;
    color: #fff;
    padding-top: 19px;
  }
  div {
    font-size: 11px;
    line-height: 20px;
    color: #8e8e8e;
    &:nth-of-type(3) {
      color: #c92f2d;
      margin-bottom: 19px;

    }
  }
}
.end {
  background-color: #171717;
  div {
    width: 941px;
    margin: 0 auto;
    div {
      font-size: 11px;
      line-height: 52px;
      color: #9dabab;
     
    }
  }
}
.imgs{
    img{
        border-radius: 50%;
    }
}