.bg {
  background-color: #363636;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.bg .head {
  width: 941px;
  margin: 0 auto;
  height: 58px;
}
.bg .head img {
  padding-top: 15px;
}
.bg .head .nav {
  font-size: 0;
}
.bg .head .nav span {
  font-size: 10px;
  line-height: 58px;
  color: #ededed;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  display: inline-block;
  margin-left: -1px;
}
.bg .head .nav span:hover {
  background-color: #ca3232;
}
.item1 {
  width: 941px;
  margin: 0 auto;
  background-color: #fbfbfb;
}
.item1 div {
  font-size: 13px;
  line-height: 59px;
  color: #999999;
}
.bg .item2 {
  width: 941px;
  margin: 0 auto;
  text-align: center;
}
.bg .item2 .title {
  font-size: 36px;
  line-height: 74px;
  color: #fff;
  padding-top: 23px;
}
.bg .item2 .title span {
  color: #c93232;
}
.bg .item2 .content {
  font-size: 9px;
  line-height: 22px;
  color: #aaaaaa;
  padding-bottom: 40px;
}
.content {
  width: 941px;
  padding-top: 27px;
  margin: 0 auto;
}
.content .info .our {
  font-size: 16px;
  line-height: 44px;
  color: #333333;
}
.content .info .morbi {
  font-size: 9px;
  line-height: 37px;
  color: #333333;
  padding-bottom: 13px;
}
.content .info .html {
  padding-bottom: 47px;
}
.content .info .html .pic img {
  margin-right: 20px;
  padding-top: 2px;
}
.content .info .html .intro {
  width: 372px;
}
.content .info .html .intro .h {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 16px;
  color: #c93232;
}
.content .info .html .intro .p {
  font-size: 9px;
  line-height: 20px;
  color: #444444;
}
