.img{background:url(../images/img.png)  no-repeat;}
.about_12{height:9px;width:10px;background-position:0 0;}
.about_25{height:16px;width:16px;background-position:-10px 0;}
.about_22{height:16px;width:16px;background-position:-26px 0;}
.about_26{height:16px;width:16px;background-position:-42px 0;}
.about_27{height:16px;width:16px;background-position:-58px 0;}
.about_21{height:16px;width:16px;background-position:-74px 0;}
.about_09{height:16px;width:16px;background-position:-90px 0;}
.about_07{height:16px;width:16px;background-position:-106px 0;}
.about_18{height:16px;width:16px;background-position:-122px 0;}
.about_17{height:16px;width:16px;background-position:-138px 0;}
