.bg {
  background-color: #363636;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.bg .head {
  width: 940px;
  margin: 0 auto;
  height: 58px;
}
.bg .head img {
  padding-top: 15px;
}
.bg .head .nav {
  font-size: 0;
}
.bg .head .nav span {
  font-size: 10px;
  line-height: 58px;
  color: #ededed;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  display: inline-block;
  margin-left: -1px;
}
.bg .head .nav span:hover {
  background-color: #ca3232;
}
.item1 {
  width: 940px;
  margin: 0 auto;
  background-color: #fbfbfb;
}
.item1 div {
  font-size: 13px;
  line-height: 59px;
  color: #999999;
}
.bg .item2 {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.bg .item2 .title {
  font-size: 36px;
  line-height: 74px;
  color: #fff;
  padding-top: 23px;
}
.bg .item2 .title span {
  color: #c93232;
}
.bg .item2 .content {
  font-size: 9px;
  line-height: 22px;
  color: #aaaaaa;
  padding-bottom: 40px;
}
.item {
  width: 940px;
  margin: 0 auto;
}
.item .left {
  width: 614px;
}
.item .left .why {
  font-size: 21px;
  line-height: 61px;
  color: #333333;
  margin-top: 20px;
}
.item .left .morbi {
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-bottom: 23px;
}
.item .left .nav {
  border-left: 1px solid #ededed;
  width: 290px;
}
.item .left .nav span {
  font-size: 9px;
  line-height: 25px;
  color: #333;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-right: 27px;
  padding-left: 15px;
  position: relative;
}
.item .left .nav span:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 25px;
  background: url('images/qian.jpg') no-repeat;
  right: 0;
  top: 0;
}
.item .left .nav span:nth-last-of-type(1) {
  padding-right: 15px;
}
.item .left .nav span:nth-last-of-type(1):after {
  right: -11px;
}
.item .left .nav .red {
  color: #c93232;
}
.item .left .box_c {
  font-size: 9px;
  line-height: 20px;
  color: #333;
  border: 1px solid #ededed;
  margin-top: -1px;
  width: 615px;
}
.item .left .box_c .m {
  width: 564px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 18px;
}
.item .left .box_c .f {
  width: 564px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.item .right {
  width: 285px;
}
.item .right img {
  margin-top: 100px;
}
.dot {
  line-height: 6px;
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
}
.dot:before {
  content: "";
  width: 426px;
  height: 1px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  background-color: #f1f1f1;
  margin-right: 14px;
}
.dot:after {
  content: "";
  width: 426px;
  height: 1px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  background-color: #f1f1f1;
  margin-left: 14px;
}
.dot span {
  width: 5px;
  height: 5px;
  background-color: #e3e4e6;
  border-radius: 50%;
  display: inline-block;
  letter-spacing: 4px;
  vertical-align: top;
}
.ul {
  width: 940px;
  margin: 0 auto;
  padding-top: 19px;
  height: 416px;
}
.ul li {
  width: 290px;
  margin-right: 35px;
}
.ul li h3 {
  font-size: 16px;
  line-height: 62px;
  color: #333;
}
.ul li .donec {
  font-size: 9px;
  line-height: 20px;
  color: #333;
  margin-bottom: 21px;
}
.ul li .web img {
  padding-top: 5px;
  padding-right: 10px;
}
.ul li .web .w {
  font-size: 9px;
  line-height: 24px;
  color: #333;
  vertical-align: top;
}
.ul li:nth-of-type(2) .web {
  height: 75px;
  margin-bottom: 20px;
}
.ul li:nth-of-type(2) .web .shadow {
  width: 71px;
  height: 71px;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
  margin-right: 19px;
}
.ul li:nth-of-type(2) .web .shadow img {
  padding-left: 5px;
}
.ul li:nth-of-type(2) .web .rig .w {
  font-size: 9px;
  line-height: 20px;
  color: #cc328a;
}
.ul li:nth-of-type(2) .web .rig .p {
  font-size: 11px;
  line-height: 20px;
  color: #333;
}
.ul li:nth-of-type(3) {
  margin-right: 0;
}
.ul li:nth-of-type(3) .donec {
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}
.ul li:nth-of-type(3) .pic {
  padding-bottom: 14px;
  height: 16px;
}
.ul li:nth-of-type(3) .pic .p {
  width: 152px;
}
.ul li:nth-of-type(3) .pic .b {
  width: 135px;
}
.page {
  font-size: 0;
  padding-bottom: 59px;
}
.page span:nth-of-type(1) {
  font-size: 11px;
  line-height: 24px;
  color: #444444;
  margin-right: 14px;
  display: inline-block;
}
.page span:nth-of-type(2) {
  font-size: 9px;
  line-height: 22px;
  width: 25px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  margin-right: 6px;
}
.page span:nth-of-type(3) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
  margin-right: 6px;
}
.page span:nth-of-type(4) {
  font-size: 9px;
  line-height: 20px;
  width: 23px;
  text-align: center;
  color: #444444;
  display: inline-block;
  border: 1px solid #e1e0e0;
  padding: 1px;
  background-color: #f3f3f3;
  background-clip: content-box;
}
.lastbg {
  background: linear-gradient(180deg, #292929, #383838);
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}
.lastbg .last {
  width: 941px;
  margin: 0 auto;
}
.lastbg .last .text {
  width: 215px;
  margin-right: 25px;
  height: 265px;
}
.lastbg .last .text h3 {
  font-size: 12px;
  line-height: 60px;
  color: #ffffff;
  padding-top: 20px;
}
.lastbg .last .text .pellent {
  font-size: 11px;
  line-height: 20px;
  color: #8e8e8e;
  margin-bottom: 21px;
}
.lastbg .last .cate {
  width: 240px;
}
.lastbg .last .cate h3 {
  font-size: 12px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 24px;
}
.lastbg .last .cate div {
  font-size: 11px;
  line-height: 28px;
  color: #ddddd1;
}
.lastbg .last .cate div img {
  vertical-align: middle;
  margin-right: 6px;
}
.get {
  width: 221px;
}
.get h3 {
  font-size: 12px;
  line-height: 62px;
  color: #fff;
  padding-top: 19px;
}
.get div {
  font-size: 11px;
  line-height: 20px;
  color: #8e8e8e;
}
.get div:nth-of-type(3) {
  color: #c92f2d;
  margin-bottom: 19px;
}
.end {
  background-color: #171717;
}
.end div {
  width: 941px;
  margin: 0 auto;
}
.end div div {
  font-size: 11px;
  line-height: 52px;
  color: #9dabab;
}
.imgs img {
  border-radius: 50%;
}
